table,th,td{
	border: 1px solid black; 
	border-collapse: collapse;
}
tr:nth-child(n+3){
	background-color:rgb(146, 146, 146);
	color: black;
}
tr:nth-child(even){
	background-color:gray;
	color: white;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
